{% extends "layouts/base.html" %}

{% block body %}
  {{ component('components/hero.html') }}
  {{ component('components/breaking.html') }}

  {{ component('components/platform.html', {
    "title": "Ziggy's Platform",
    "items": [
      "Build more Dog Parks",
      "Banning discrimination against dogs and requiring all restaurants and public businesses to allow them inside",
      "Criminalizing squirrels",
      "Universal Doggy Daycare",
      "Designating Trump Hotel as an Official Pee Spot"
    ]
  }) }}

  <section>
    {{ component('story.md') | markdown }}
  </section>

  <section>
    <h1>Precedent</h1>
    <p>DC has never had a canine public official before, although there are many dogs working as public servants in emergency services.</p>
    <p>Meanwhile a cat has been the Mayor of XXXX, Alaska for several years.</p>
    <p>We believe Mr. Ziggy can bridge the gap between longtime District residents, who love their dogs, and the millenial yuppies who <i>really</i> love their dogs and refer to them as ”fur babies” unironically.<sup>*</sup></p>
    <footer>
      <small>
        Mr. Ziggy takes no position on whether dogs should be called ”fur babies.” His owners think this is stupid.
      </small>
    </footer>
  </section>

{% endblock body %}