{% extends "layouts/base.html" %}

{% block body %}
  {{ component('components/hero.html') }}
  {{ component('components/breaking.html') }}

  {{ component('components/platform.html', {
    "title": "Ziggy's Platform",
    "items": [
      "Building more dog parks",
      "Banning discrimination against dogs, requiring all restaurants and public businesses to allow them inside",
      "Criminalizing squirrels",
      "Universal Doggy Daycare",
      "Designating Trump Hotel as an Official Pee Spot"
    ]
  }) }}

  <section class="c-section l-container--full">
    {{ component('story.md') | markdown }}
  </section>

  {{ component('components/photoset.html', {
    items: [
      {
        src: "/images/puppy-640.jpg",
        caption: "Being a puppy at his CDR foster home",
        width: 640,
        height: 480
      },
      {
        src: "/images/guitar-640.jpg",
        caption: "Ziggy has picked up guitar in his free time. He likes Bowie, obviously.",
        width: 640,
        height: 480
      },
      {
        src: "/images/hedgehog.jpg",
        caption: "Hedgehog 🦔",
        width: 640,
        height: 480
      }
    ]
  }) }}

  <section class="c-section l-container--full u-separator">
    {{ component('precedent.md') | markdown }}
  </section>

  {{ component('components/photo-module.html', {
    "src": "/images/office-hours.jpg",
    "caption": "Ziggy holds office hours.",
    "quote": "”He is excellent at hearing. Listening... depends. Which means he won’t be captive to special interests unless they happen to be golden retrievers.”",
    "source": "Jason, owner"
  }) }}

  {{ component('components/photo-module.html', {
    "src": "/images/dacha.jpg",
    "caption": "Napping in one of DC's finest dog-friendly establishments.",
    "quote": "”Mr. Ziggy appears confused by complex issues like Initiative 77. He seems less interested in whether restaurant workers will receive tips than whether they will bring him food, which they currently do not.”",
    "source": "<i>The Washington Post</i>",
    "modifier": "is-reverse"
  }) }}


  {{ component('components/photo-module.html', {
    "src": "/images/rumi.jpg",
    "quote": "”Woof. Woof, woof. Woof! He'll be an excellent mayor.”",
    "source": "Rumi, Golden Puppy and Ziggy's BFF",
    "modifier": ""
  }) }}

  {{ component('components/photoset.html', {
    items: [
      {
        src: "/images/suitcase.jpg",
        caption: "Floppy as hell and ready to roll!"
      }
    ]
  }) }}

  <div class="c-cta">
    <h1>Join the Repuplican revolution for a better DC!</h1>
    <div class="c-cta__hashtags">
      <span class="tag">#VoteZiggy</span>
      <span class="tag">#FloppyEars</span>
    </div>
  </div>

{% endblock body %}