@mixin separator() {
  &::after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    width: 100vw;
    position: relative;
    left: calc(50% - 100vw / 2);
    margin: 3rem 0 2rem 0;    
  }
}

.u-separator {
  @include separator();
}