.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.figure {
  padding: 0;
  margin: 1em 0;
  flex-basis: 100%;
}

.caption {
  padding: 0 1em;
}

@media (min-width: 800px) {
  .row {
    flex-direction: row;
  }

  .figure {
    margin: 1em;
  }

  .caption {
    padding: 0;
  }
}
