.c-cta {
  background: $color--dark-blue;
  color: white;
  padding: 25vh 10vw;
  text-align: center;

  h1 {
    font-style: italic;
    font-weight: 200;
    letter-spacing: 0.05em;
  }
}

.c-cta__hashtags .tag {
  text-decoration: underline;
  text-decoration-color: $color--pink;
  font-size: 2rem;
  display: inline-block;
  margin: 0 1rem;
}