@import "./settings/color";
@import "./settings/typography";

@import "./helpers/layout";
@import "./helpers/lines";

@import "./components/section";
@import "./components/hero";
@import "./components/breaking";
@import "./components/platform";
@import "./components/photo-set";


body {
  font-family: $font--sans;
  margin: 0;
  font-size: 16px;
}

body * {
  box-sizing: border-box;
}

a, a:visited {
  color: $color--dark-blue;
  text-decoration-color: $color--blue;
}