@import "./settings/color";
@import "./settings/typography";

@import "./helpers/layout";

@import "./components/header";
@import "./components/hero";
@import "./components/breaking";


body {
  font-family: $font--sans;
  margin: 0;
  font-size: 16px;
}

body * {
  box-sizing: border-box;
}